<%- include('admin_nav.ejs') %>
	<div class="container">
		<form action="/admin/user/edit?_method=PUT" method="POST" id="form1">
			<img src="https://via.placeholder.com/150" alt="Profile Picture">
			<h1>
				<%=data.id%>
			</h1>
				<input type="text" name="id" value="<%=data._id%>" style="display:none;">
				<div class="form-group mb-3">
					<label for="email">email:</label>
					<input type="text" name="email" id="email" class="form-control" value="<%=data.email%>"
					style="width: 50%;">
				</div>
				<div class="container">
					<div class="row row-cols-6">
						<div class="col mb-3">
							<label for="birthday" class="form-label">생년월일</label>
							<select id="year" class="form-select mb-2" name="year">
								<option value="<%=data.birthday.year%>" selected>
									<%=data.birthday.year%>년
								</option>
								<% for (let i=new Date().getFullYear(); i>= 1900; i--) { %>
									<option value="<%= i %>">
										<%= i %>년
									</option>
									<% } %>
							</select>
							<select id="month" class="form-select mb-2" name="month">
								<option value="<%=data.birthday.month%>" selected>
									<%=data.birthday.month%>월
								</option>
								<% for (let i=1; i <=12; i++) { %>
									<option value="<%= i %>">
										<%= i %>월
									</option>
									<% } %>
							</select>
							<select id="day" class="form-select mb-2" name="day">
								<option value="<%=data.birthday.day%>" selected>
									<%=data.birthday.day%>일
								</option>
								<% for (let i=1; i <=31; i++) { %>
									<option value="<%= i %>">
										<%= i %>일
									</option>
									<% } %>
							</select>
						</div>
						<div class="col">
							<label for="gender" class="form-label">성별</label>
							<select class="form-select mb-2" name="gender" id="gender">
								<%if(data.gender=="men"){%>
									<option value="men" selected>남성
									</option>
									<option value="women">여성
									</option>
									<%}else{%>
										<option value="women" selected>여성
										</option>
										<option value="man">남성
										</option>
										<%}%>
							</select>
						</div>
						<div class="col">
							<label for="inputState" class="form-label">국가</label>
							<select id="country" class="form-select"  name="country">
								<option selected value="<%=data.country%>"><%=data.country%></option>
								<option value="america">america</option>
								<option value="french">french</option>
								<option value="UK">UK</option>
							</select>
						</div>
						<div class="col">
							<label for="is-opted-in" class="form-label">광고동의:</label>
							<select class="form-select" id="is-opted-in" name="opt">
								<option selected value="<%=data.isOptedIn%>"><%=data.isOptedIn%></option>
								<option value="on">on</option>
								<option value="off">off</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="text-center" id="button">

				<button type="submit" class="btn btn-success me-3">확인</button>
		</form>
		<%if (data.delete==false){%>
			<button type="button" class="btn btn-danger me-3" data-id="<%=data._id%>" id="delete">탈퇴</button>
			<%}else{%>
				<button type="button" class="btn btn-danger me-3" data-id="<%=data._id%>" id="delete">복구</button>
				<%}%>
	</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.3.js"></script>
	<script>
		let form = document.querySelector('#form1');
		form.addEventListener('submit', function (event) {
			let email = document.querySelector('#email').value;
			let year = document.querySelector('#year').value;
			let month = document.querySelector('#month').value;
			let day = document.querySelector('#day').value;
			let gender = document.querySelector('#gender').value;
			let country = document.querySelector('#country').value;
			let opt = document.querySelector('#is-opted-in').value;
			var emailReg = /^[a-zA-Z0-9+-\_.]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/;
			if (!emailReg.test(email) || !email) {
				alert("올바른 이메일 형식을 작성하세요");
				event.preventDefault();
			} else if (!year) {
				alert("년도를 선택하세요");
				event.preventDefault();
			} else if (!month) {
				alert("월을 선택하세요");
				event.preventDefault();
			} else if (!day) {
				alert("날짜를 선택하세요");
				event.preventDefault();
			}
			else if (!gender) {
				alert("성별을 선택하세요");
				event.preventDefault();
			}
			else if (!country) {
				alert("국가를 선택하세요");
				event.preventDefault();
			}
			else if (!opt) {
				alert("광고동의를 선택하세요");
				event.preventDefault();
			}
			else {
				alert("수정이 완료되었습니다.");
			}
		});
		let quit = document.querySelector('#delete');
		quit.addEventListener('click', function (e) {
			var id = e.target.dataset.id;
			$.ajax({
				method: 'put',
				url: '/admin/user/quit',
				data: { _id: id }
			}).done(function (data) {
				alert("탈퇴/복구 요청 성공");
				window.location.replace('/admin/user/list/1');
			})
		})
	</script>
	</body>

	</html>