<%- include('head.ejs') %>
<body>
  <%- include('nav.ejs') %>
  <main>
    <div class="detail-box">
      <h3><%=title%></h3>
      <p><%=detail[0]%></p>
    </div>
  </main>
  <%- include('footer.ejs') %>
</body>
