<%- include('head.ejs')%>
  <body>
    <%- include('nav.ejs') %>
    <header>
      <%if(loggedIn) {%>
      <li><a href="board/question">글작성</a></li>
      <a href="logout">로그아웃</a>
      <%} else { %>
      <a href="login">로그인</a>
      <p>아직 회원이 아니신가요?</p>
      <p>지금 바로 <a href="signup">회원가입</a>하세요</p>
      <%}%>
    </header>
    <form>
      <label for="">Title</label>
      <input type="text" placeholder="<%=question.title%>" id="" />
      <label for="">Detail</label>
      <input type="text" placeholder="<%=question.detail%>" id="" />
      <label for="">Created Date</label>
      <input type="text" placeholder="<%=question.createdDate%>" id="" />
      <label for="">Views</label>
      <input type="text" placeholder="<%=question.views%>" id="" />
      <br />
      <button type="submit" onclick="/views/edit">edit</button>
    </form>
    <%}%> <%- include('footer.ejs') %>
  </body>
</html>
