<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/browse.css">
</head>
<body>
    <!-- 네비 -->
    <%- include('nav.ejs') %>

    <!-- 메인 시작 -->
    <section class="main">
        <div class="main-content">
            <h3>JigSaw</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <div class="buttons">
                <button class="play"><i class="fa-solid fa-play"></i><span>재생</span></button>
                <button class="detail"><i class="fa-solid fa-circle-info"></i>상세 정보</button>
            </div>
        </div>
    </section>
    <!-- 메인 끝 -->

    <!-- 컨텐츠 시작 -->
    <section class="content">
        <h1>지금 뜨는 콘텐츠</h1> 
        <div class="carousel">
            <div class="content-box"> 
                <% for(var i=0; i < posts.length; i++){ %>
                <div class="item-box" data-value="<%=posts[i]._id%>">
                    <a href="watch/<%= posts[i]._id %>"><img src="<%= posts[i].사진경로 %>" alt=""></a>
                    <div id="title" data-title="<%=posts[i].제목%>"></div>
                </div>
                <% } %>
            </div>
            <div class="prev"><i class="fa-solid fa-angle-left prev-arrow"></i></div>
            <div class="next"><i class="fa-solid fa-angle-right"></i></div>
        </div>
        
    </section>
    <!-- 컨텐츠 끝 -->

    <!-- 풋터 -->
    <%- include('footer.ejs') %>
    <script src="/js/browse.js" async></script>
    <script src="https://kit.fontawesome.com/6478f529f2.js"></script>
</body >
</html>