<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>watch</title>
    <link rel="stylesheet" href="/css/watch.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
  <!-- 네이바 시작 -->
  <%- include('nav.ejs') %>
  <!-- 네비바 끝 -->

  <!-- 비디오 플레이어 시작 -->
  <header class="player-box">
      <div class="player-container">
          <video class="player" controls>
            <source src="<%=posts.경로%>" type="video/mp4">
          </video>
        </div>
  </header>
  <!-- 비디오 플레이어 끝 -->

  <!-- 영화 정보 -->
  <header class="infomation">
      <div class="content-container">
          <div class="content-img">
            <img src="<%=posts.사진경로%>" alt="">
          </div>
          <div class="content-info">
            <div class="content-header">
              <h2><%=posts.제목%><span class="content-year">(<%=posts.출시년도%>년)</span></h2>
              <p class="content-genre"><span>장르: </span><%=posts.장르%></p>
            </div>
            <div class="content-discription">
              <h1>개요</h1>
              <h3><%=posts.설명%></h3>
            </div>
            <div class="content-creater">
              <div class="director">
                <h1>감독</h1>
                <h2><%=posts.감독%></h2>
              </div>
              <div class="actor">
                <h1>주연</h1>
                <h2><%=posts.주연%></h2>
              </div>
            </div>
            <div class="rating">  
              <% if(score != null) { %>
              <div id="userScore" data-userScore="<%=score%>"></div>
              <h2>평점 : <%=avg%></h2>
              <% } else { %>
              <h2>평점 : </h2>
              <%}%>
                <div id="movie" data-title="<%=posts.제목%>"></div>              
                <div id="data1" data-bookmark="<%=title.includes(posts.제목)%>"></div>
                <div class="rating-bookmark">
                  <% if (title.includes(posts.제목) !== true) { %>
                    <button class="fa-regular fa-bookmark"></button>
                  <% } else { %>
                    <button class="fa-solid fa-bookmark"></button>
                  <% } %>
                </div>
            </div>
            <div class="user-rating">
              <h2>평가하기 : </h2>
              <!-- 별점을 나타내기 위한 div 요소 -->
              <div class="star-rating">
                <!-- 별 하나를 나타내는 span 요소 (5개 사용) -->
                <span class="star" data-rating="1"></span>
                <span class="star" data-rating="2"></span>
                <span class="star" data-rating="3"></span>
                <span class="star" data-rating="4"></span>
                <span class="star" data-rating="5"></span>
              </div> 
              <% if(score == null) { %>
                <button type="button" class="subStar">평점</button>
              <% } %>
              
            </div>
           </div>
          </div>
      </div>
  </header>

  <!-- 리뷰 댓글 시작 -->
  <section class="review">
    <div>
      <h1> <%=score%> </h1>
    </div>
  </section>
  
  <!-- 리뷰 댓글 끝 -->
  <%- include('footer.ejs') %>
  <script src="/js/watch.js" defer></script>
    
</body>
</html>